{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/resetpassword.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class="resetpassword-main">
            <div class="resetpassword-mini">
                <form method="">
                    {% csrf_token %}
                    <div class="group">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" required/>
                    </div>
                    <div class="group">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" required/>
                    </div>
                    <!-- <div class="group">
                        <label for="password">New-Password</label>
                        <input type="password" name="new-password1" id="new-password" required/>
                    </div>
                    <div class="group">
                        <label for="password">Confirm-Password</label>
                        <input type="password" name="confirm-password" id="confirm-password" required/>
                    </div> -->
                    <div class="group-bottom">
                        <button type="submit" class="resetpassword-button">Change Password</button>
                    </div>
               </form>
            </div>
        </div>
    </div>
</body>
</html>