{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>
<body>
    <div class="main">
        <div class="nav">
            <div class="logo"><h2>Logo</h2></div>
            <!-- <div class="search">
                <input type="text" class="search-bar" placeholder="Search here">
                <img src="../static/images/search.png" alt="" class="search-image">
            </div> -->
            <div class="pages">
                <button class="button"><a class="a" href="{% url 'home' %}">Home</a></button>
                <button class="button"><a class="a" href="{% url 'signin' %}">SignIn</a></button>
                <button class="button active"><a class="a" href="{% url 'signup' %}" class="active">SignUp</a></button>
                <button class="button"><a class="a" href="{% url 'about' %}">About</a></button>
                <button class="button"><a class="a" href="{% url 'contact' %}">ContactUs</a></button>
            </div>
        </div>
        <div class="signup-main">
            <div class="signup-mini">
                <form method="post" onsubmit="return authentication()">
                    {% csrf_token %}
                    <div class="group">
                        <label for="firstname">Firstname</label>
                        <input type="text" name="firstname" id="firstname" required/>
                    </div>
                    <div class="group">
                        <label for="lastname">Lastname</label>
                        <input type="text" name="lastname" id="lastname" required/>
                    </div>
                    <div class="group">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" required/>
                    </div>
                    <div class="group">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" required/>
                    </div>
                    <div class="group">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" required/>
                    </div>
                    <button type="submit" class="signup-button" id="signup-button">SignUp</button>
               </form>
            </div>
        </div>
    </div>
    <script src="{% static 'js/signup.js' %}"></script>
</body>
</html>