{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>
<body>
    <div class="transistion"></div>
    <div class="main">
        <div class="nav">
            <div class="logo"><h2>Logo</h2></div>
            <!-- <div class="search">
                <input type="text" class="search-bar" placeholder="Search here">
                <img src="../static/images/search.png" alt="" class="search-image">
            </div> -->
            <div class="pages">
                <button class="button"><a class="a" href="{% url 'home' %}">Home</a></button>
                {%  if user.is_authenticated %}
                <button class="button"><a class="a" href="{% url 'signout' %}">Logout</a></button>
                <button class="button"><a class="a" href="{% url 'watchlist' %}">Watchlist</a></button>
                {% else %}
                <button class="button"><a class="a" href="{% url 'signin' %}">SignIn</a></button>
                <button class="button"><a class="a" href="{% url 'signup' %}">SignUp</a></button>
                {% endif %}
                <button class="button active"><a class="a" href="{% url 'about' %}">About</a></button>
                <button class="button"><a class="a" href="{% url 'contact' %}">ContactUs</a></button>
            </div>
        </div>
        <div class="about-main">
            <h1 class="about-head">Movies Mate</h1>
            <hr>
            <h3>We are all different. We are born in different cities, at different times, we love different music, food, movies. But we have something that 
                unites us all. It is our project. We are its heart, we are not just a team we are family. In this journey, we've discovered that "unity in diversity", 
                is not just a phrase but a living reality. Our differences have become our greatest assets, bringing fresh perspectives to every challenge and 
                infusing creativity into every solution. It's in the spirited debates, the collaborative problem-solving, and the shared laughter during 
                breaks that we've found the true essence of teamwork.</h3>
            <div class="about-display">
                <div class='about-details'>
                    <div class='about-pic2'></div>
                    <h1>Backend Boss</h1>
                    <h1>KL Student</h1>
                    <a href='https://github.com/DonthineniSanthosh'>GitHub</a>
                </div>
                <div class='about-details'>
                    <div class='about-pic1'></div>
                    <h1>The Code Wizard    (LEADER)</h1>
                    <h1>KL Student</h1>
                    <a href='https://github.com/AzmatullaKhan'>GitHub</a>
                </div>
                <div class='about-details'>
                    <div class='about-pic3'></div>
                    <h1>The Visionary Architect</h1>
                    <h1>KL Student</h1>
                    <a href='https://github.com/balajich004'>GitHub</a>
                </div>
            </div>
            <h>THANK YOU</h>
        </div>
    </div>
</body>
</html>