{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>
<body>
    <div class="main">
        <div class="nav">
            <div class="logo"><h2>Logo</h2></div>
            <div class="search">
                <input type="text" class="search-bar" placeholder="Search here">
                <img src="../static/images/search.png" alt="" class="search-image">
            </div>
            <div class="pages">
                <button><a href="{% url 'home' %}">Home</a></button>
                <button><a href="{% url 'signin' %}">SignIn</a></button>
                <button><a href="{% url 'signup' %}">SignUp</a></button>
                <button><a href="{% url 'about' %}">About</a></button>
                <button class="active"><a href="{% url 'contact' %}" class="active">ContactUs</a></button>
            </div>
        </div>
    </div>
</body>
</html>