{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/watchlist.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>
<body>
    <div class="transistion"></div>
    <div class="main">
        <div class="nav">
            <div class="logo"><h2>Logo</h2></div>
            <!-- <div class="search">
                <input type="text" class="search-bar" placeholder="Search here">
                <img src="../static/images/search.png" alt="" class="search-image">
            </div> -->
            <div class="pages">
                <button class="button"><a class="a" href="{% url 'home' %}">Home</a></button>
                {%  if user.is_authenticated %}
                <button class="button"><a class="a" href="{% url 'signout' %}">Logout</a></button>
                <button class="button active"><a class="a" href="{% url 'watchlist' %}">Watchlist</a></button>
                {% else %}
                <button class="button"><a class="a" href="{% url 'signin' %}">SignIn</a></button>
                <button class="button"><a class="a" href="{% url 'signup' %}">SignUp</a></button>
                {% endif %}
                <button class="button"><a class="a" href="{% url 'about' %}">About</a></button>
                <button class="button"><a class="a" href="{% url 'contact' %}">ContactUs</a></button>
            </div>
        </div>
        
    </div>
</body>
</html>