{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/watchlist.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>
<body>
    <div class="transistion"></div>
    <div class="main">
        <div class="nav">
            <div class="logo"><img src="../static/images/logo.png" alt="img" class="img"></div>
            <!-- <div class="search">
                <input type="text" class="search-bar" placeholder="Search here">
                <img src="../static/images/search.png" alt="" class="search-image">
            </div> -->
            <div class="pages">
                <button class="button"><a class="a" href="{% url 'home' %}">Home</a></button>
                {%  if user.is_authenticated %}
                <button class="button"><a class="a" href="{% url 'signout' %}">Logout</a></button>
                <button class="button active"><a class="a" href="{% url 'watchlist' %}">Watchlist</a></button>
                {% else %}
                <button class="button"><a class="a" href="{% url 'signin' %}">SignIn</a></button>
                <button class="button"><a class="a" href="{% url 'signup' %}">SignUp</a></button>
                {% endif %}
                <button class="button"><a class="a" href="{% url 'about' %}">About</a></button>
                <button class="button"><a class="a" href="{% url 'contact' %}">ContactUs</a></button>
            </div>
        </div>
        <div class="mini-main">
            <div class="movie-holder">
                {% for x in first %}
                    <div class="main-container" onclick='Click(event, "{{x.name}}")' id={{x.id}} style="background-image: url('{{x.url}}'); background-size:cover; background-repeat: no-repeat;">
                    </div>
                    <div class="hidden" id={{x.name}}>
                        <hr>
                        <p style="margin-top:20px;">{{x.desc}}</p>
                        <p style="margin-bottom: 18px;">Genre : {{x.genre}}</p>
                        <hr>
                        <div class="holder">
                            <p class="headings">Director:</p><p style="align-self: flex-start;">{{x.director}}</p><br>
                        </div>
                        <div class="holder">
                            <p class="headings">Writers:</p><p>{{x.writers}}</p><br>
                        </div>
                        <div class="holder">
                            <p class="headings">Streaming-on:</p><p>{{x.streaming}}</p>
                        </div>
                        <div class="button-holder">
                            <form method="post">
                                <button  class="button-hidden" type="submit">Remove from Watchlist
                                    <input type="text" name="data_index" value="{{x.name}}" style="display: none;">
                                </button>
                            </form>
                            <button  class="button-hidden" onclick="Close(event, '{{x.name}}')" name={{x.id}}>Close</button>    
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="{% static 'js/watchlist.js' %}"></script>

</body>
</html>