*{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    margin:0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: hidden;  
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #fff;
}
body::-webkit-scrollbar{
    display: none;
}
.main{
    background-color: rgb(21, 23, 23);
    height:900px;
    width: 1500px;
    box-sizing: border-box;
    padding:22px;
    /* border:1px solid #fff; */
    overflow: hidden;
    box-sizing: border-box;
}

.about-main{
  height:700px;
  width:100%; 
  padding:0 60px;
  box-sizing: border-box;
  text-align: center;
}
.about-head{
  font-size: 26px;
  text-align: center;
  font-weight:500px;
  padding:40px
}
.about-mini-main{
  width: 100%;
  height:750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center
}
.about-details{
  height:240px;
  width:300px;
  margin: 12px;
  text-align: center;
  padding-top:12px;
  box-sizing: border-box;
  }
.about-display{ 
  display:flex;
  justify-content: space-between;
  padding:30px;
  width:50%;
  margin:0 auto;
}
h3{
  font-weight: 1;
  padding: 20px;
}
h1{
  font-size: 16px;
  font-weight: 1;
}
a{
  color: #fff;
}
h{
  text-decoration: underline;
}
.about-pic1{
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width:100px;
  background-image: url('../images/azmatulla.jpg');
  background-size: cover;
  border-radius: 120px;
}
.about-pic2{
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width:100px;
  background-image: url('../images/santhosh.jpg');
  background-size: cover;
  border-radius: 120px;
}
.about-pic3{
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width:100px;
  background-image: url('../images/balaji.jpg');
  background-size: cover;
  border-radius: 120px;
}

/* .about-main{
background-image: linear-gradient(#84cdf8, #53a7eb , #d0e9f7, #db8c8c);
height:210vh;
width:100vw;
padding:40px;
box-sizing: border-box;
display: flex;
flex-direction: column;
align-items: center;
overflow: hidden;
}
.about-mini-main{
width:85%;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}
.about-display{
width:100%;
display:flex;
justify-content: space-between;
padding:30px;
}
.about-details{
height:240px;
width:300px;
margin: 12px;
text-align: center;
padding-top:12px;
box-sizing: border-box;
}
.about-all{
border-radius: 200px;
border: #fff;
border-style: solid;
height:200px;
width:200px;
margin: 12px;
}
.about-pic1{
margin-left: auto;
margin-right: auto;
height: 100px;
width:100px;
background-image: url('./images/azmatulla.jpg');
background-size: cover;
border-radius: 120px;
}
.about-pic2{
margin-left: auto;
margin-right: auto;
height: 100px;
width:100px;
background-image: url('./images/santhosh.jpg');
background-size: cover;
border-radius: 120px;
}
.about-pic3{
margin-left: auto;
margin-right: auto;
height: 100px;
width:100px;
background-image: url('./images/balaji.jpg');
background-size: cover;
border-radius: 120px;
} */