body{
    margin:0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
body::-webkit-scrollbar{
    display: none;
}
.main{
    background-color: rgb(21, 23, 23);
    height:900px;
    width: 1500px;
    box-sizing: border-box;
    padding:22px;
    /* border:1px solid #fff; */
    overflow: hidden;
}
h1{
    color:#fff
}
