body{
    margin:0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
body::-webkit-scrollbar{
    display: none;
}
.main{
    background-color: rgb(21, 23, 23);
    height:900px;
    width: 1500px;
    box-sizing: border-box;
    padding:20px;
    /* border:1px solid #fff; */
    overflow: hidden;
    color: #fff;
    position: relative;
    top:0px;
    left:0px;
    animation: main-animation 0.7s ease-out;
}
@keyframes main-animation {
    0%{left:2000px; height:400px; width:1300px; top:200px; opacity: 0;}
    100%{left:0;height:900px; width:1500px; top:0; opacity: 1;}
}
.transistion{
    position:absolute;
    top:0px;
    left:-1800px;
    height: 900px;
    width:1500px;
    background-image:url('../images/transistion.png');
    background-size: cover;
    animation: transistion-animation 0.9s ease-out;
}
@keyframes transistion-animation {
    0%{left:0; opacity: 0.6;}
    100%{left:-1800px; opacity:0; top:200px;height:400px; width:1300px;}
}
